<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SYNDIC_1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SyndicConnectionStringReda" connectionString="Data Source=.;Initial Catalog=syndic2;user id = sa;password = Benzian1995*"  providerName="System.Data.SqlClient" />  
</connectionStrings>
  <userSettings>
    <SYNDIC_1._0.Properties.Settings>
      <setting name="CheckBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TextBoxLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="TextBoxPass" serializeAs="String">
        <value />
      </setting>
      <setting name="Today" serializeAs="String">
        <value />
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>0</value>
      </setting>
    </SYNDIC_1._0.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="BackupFolder" value="C:/Syndic" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>