<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SyndicConnectionString" connectionString="Data Source=.;Initial Catalog=syndic2;User ID=sa;Password=Benzian1995*"
            providerName="System.Data.SqlClient" />
        <add name="SyndicConnectionString1" connectionString="Data Source=.;Initial Catalog=syndic2;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="SyndicConnectionStringReda" connectionString="Data Source=.;Initial Catalog=syndic2;integrated security = true"
            providerName="System.Data.SqlClient" />
        <add name="SYNDIC_1._0.Properties.Settings.syndic2ConnectionString"
            connectionString="Data Source=.;Initial Catalog=syndic2;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SYNDIC_1._0.Properties.Settings.syndic2ConnectionString1"
            connectionString="Data Source=.;Initial Catalog=syndic2;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="SYNDIC_1._0.Properties.Settings.syndic2ConnectionString2"
            connectionString="Data Source=.;Initial Catalog=syndic2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SyndicConnectionStringSliman" connectionString="Data Source=.;Initial Catalog=syndic2;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>