<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SYNDIC_1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SyndicConnectionString" connectionString="Data Source=.;Initial Catalog=syndic2;User ID=sa;Password=Benzian1995*"
            providerName="System.Data.SqlClient" />
        <add name="SyndicConnectionString1" connectionString="Data Source=.;Initial Catalog=syndic2;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="SyndicConnectionStringReda" connectionString="Data Source=.;Initial Catalog=syndic2;integrated security = true"
            providerName="System.Data.SqlClient" />
        <add name="SYNDIC_1._0.Properties.Settings.syndic2ConnectionString"
            connectionString="Data Source=.;Initial Catalog=syndic2;User ID=sa;Password=Benzian1995*"
            providerName="System.Data.SqlClient" />
        <add name="SYNDIC_1._0.Properties.Settings.syndic2ConnectionString1"
            connectionString="Data Source=.;Initial Catalog=syndic2;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="SYNDIC_1._0.Properties.Settings.syndic2ConnectionString2"
            connectionString="Data Source=.;Initial Catalog=syndic2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SyndicConnectionStringSliman" connectionString="Data Source=.;Initial Catalog=syndic2;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <userSettings>
        <SYNDIC_1._0.Properties.Settings>
            <setting name="CheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextBoxLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="TextBoxPass" serializeAs="String">
                <value />
            </setting>
        </SYNDIC_1._0.Properties.Settings>
    </userSettings>
</configuration>